html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

customButton, .custom__button,
button, .primary__button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  letter-spacing: 0.5px;
}

customInput, .form__input {
  border: none;
  outline: 1px solid gray;
  border-radius: 3px;
}
customInput:focus, .form__input:focus {
  border: none;
  outline: 1.3px solid rgb(90, 90, 220);
}

.link__styles {
  text-decoration: none;
  color: rgb(120, 120, 120);
  transition: 0.3s ease-in;
}
.link__styles:hover {
  color: #333;
}

.bold {
  font-weight: 600;
  color: #333;
}

.block {
  display: block;
  margin-bottom: 10px;
}

.primary__button {
  background-color: rgb(90, 90, 220);
  color: #fefefe;
}
.primary__button:hover {
  background-color: rgb(100, 100, 220);
}

p {
  color: rgb(120, 120, 120);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px 40px;
}

.form__input {
  margin: 20px auto;
  padding: 12px 12px;
}

.logo__styles {
  display: flex;
  text-decoration: none;
}
.logo__styles .logo__text {
  margin-left: 4px;
  margin-top: -6px;
  color: rgb(90, 90, 220);
}
.logo__styles .logo__text .logo__heading {
  margin-bottom: -5px;
  font-weight: 600;
}
.logo__styles .logo__text .logo__desc {
  margin-left: 3px;
  margin-top: 3px;
  font-size: 12px;
  font-weight: 500;
  color: inherit;
}

.linear__btn1 {
  background-image: linear-gradient(to left, purple, rgb(60, 99, 225));
  color: #fefefe;
}
.linear__btn1:hover {
  background-image: linear-gradient(to left, rgb(198, 29, 198), rgb(28, 69, 204));
}

.linear__btn2 {
  background-image: linear-gradient(to left, rgb(198, 29, 198), rgb(28, 69, 204));
  color: #fefefe;
}
.linear__btn2:hover {
  background-image: linear-gradient(to left, purple, rgb(60, 99, 225));
}

.product__details {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 20px 40px;
  gap: 70px;
  margin: 20px 10px;
  padding: 10px 20px;
}
.product__details .product__details__gallery .large__img {
  width: 40rem;
  height: 30rem;
  border-radius: 5px;
}
.product__details .product__details__gallery .gallery__images {
  margin: 20px 10px;
}
.product__details .product__details__gallery .gallery__images .active__img {
  border: 2px solid rgb(90, 90, 220);
}
.product__details .product__details__gallery .gallery__images img {
  width: 10rem;
  border-radius: 8px;
  padding: 5px 5px;
  cursor: pointer;
}
.product__details .product__details__text .product__details__heading {
  font-size: 40px;
  font-weight: 500;
  color: #333;
}
.product__details .product__details__text .product__details__desc {
  margin: 80px 20px;
}
.product__details .product__details__text .product__details__desc .desc {
  width: 40%;
  margin: 50px 30%;
}
.product__details .product__details__text .product__details__desc .desc img {
  cursor: pointer;
}
.product__details .product__details__text .profile__image {
  margin-top: 30px;
}
.product__details .product__details__text .profile__image img {
  min-width: 4rem;
  max-width: 4rem;
  min-height: 4rem;
  max-height: 4rem;
  border-radius: 100%;
  background-color: rgb(90, 90, 220);
  padding: 2px;
}/*# sourceMappingURL=details.css.map */